{% extends 'admin/change_list.html' %}
{% load admin_urls %}



{% block object-tools %}
<div>
    <a href="getorders" class="button">Siparişleri Getir la</a>
    <a href="getdeliverdorders" class="button">Teslim edilen siparişleri kontrol et</a>
    <br>
    <br>
    <form action="getoldorders/" method="post">
        {% csrf_token %}
        <input type="date" name="date" id="id_date">
        <button type="submit" class="button">Eski Siparişleri Alayım</button>
    </form>

</div>
<br />
<ul class="object-tools">
    {% block object-tools-items %}
        {% if has_add_permission %}
            {{ block.super }}
        {% endif %}
        {% if has_import_permission %}
            <li><a href='{% url opts|admin_urlname:"import" %}' class="import_link">İçe Aktar</a></li>
        {% endif %}
    {% endblock %}
</ul>
{% endblock %}

