trendyol_api/migrations/0001_initial.py
trendyol_api/migrations/0002_trendmedproductmodel.py
trendyol_api/migrations/0003_trendproductmodel_saleprice.py
trendyol_api/migrations/0004_auto_20201118_2116.py
trendyol_api/migrations/0005_trendorderdetailmodel_trendordermodel.py
trendyol_api/migrations/0006_trendordermodel_customername.py
trendyol_api/migrations/__pycache__/__init__.cpython-38.pyc
trendyol_api/migrations/__pycache__/0001_initial.cpython-38.pyc
trendyol_api/migrations/__pycache__/0002_trendmedproductmodel.cpython-38.pyc
trendyol_api/migrations/__pycache__/0003_trendproductmodel_saleprice.cpython-38.pyc
trendyol_api/migrations/__pycache__/0004_auto_20201118_2116.cpython-38.pyc
trendyol_api/migrations/__pycache__/0005_trendorderdetailmodel_trendordermodel.cpython-38.pyc
trendyol_api/migrations/__pycache__/0006_trendordermodel_customername.cpython-38.pyc
hepsiburada_api/migrations/0001_initial.py
hepsiburada_api/migrations/0002_hepsiproductmodel_is_salable.py
hepsiburada_api/migrations/0003_auto_20201114_1232.py
hepsiburada_api/migrations/0004_auto_20201114_1239.py
hepsiburada_api/migrations/0005_auto_20201114_1240.py
hepsiburada_api/migrations/0006_updatestatusmodel.py
hepsiburada_api/migrations/0007_remove_updatestatusmodel_hpm.py
hepsiburada_api/migrations/0008_updatestatusmodel_date.py
hepsiburada_api/migrations/0009_auto_20201114_1511.py
hepsiburada_api/migrations/0010_auto_20201114_1511.py
hepsiburada_api/migrations/0011_auto_20201117_1213.py
hepsiburada_api/migrations/0012_auto_20201117_1237.py
hepsiburada_api/migrations/0013_auto_20201117_1725.py
hepsiburada_api/migrations/0014_hepsimedproductmodel.py
hepsiburada_api/migrations/0015_hepsiordermodel_customername.py
hepsiburada_api/migrations/__pycache__/__init__.cpython-38.pyc
hepsiburada_api/migrations/__pycache__/0001_initial.cpython-38.pyc
hepsiburada_api/migrations/__pycache__/0002_hepsiproductmodel_is_salable.cpython-38.pyc
hepsiburada_api/migrations/__pycache__/0003_auto_20201114_1232.cpython-38.pyc
hepsiburada_api/migrations/__pycache__/0004_auto_20201114_1239.cpython-38.pyc
hepsiburada_api/migrations/__pycache__/0005_auto_20201114_1240.cpython-38.pyc
hepsiburada_api/migrations/__pycache__/0006_updatestatusmodel.cpython-38.pyc
hepsiburada_api/migrations/__pycache__/0007_remove_updatestatusmodel_hpm.cpython-38.pyc
hepsiburada_api/migrations/__pycache__/0008_updatestatusmodel_date.cpython-38.pyc
hepsiburada_api/migrations/__pycache__/0009_auto_20201114_1511.cpython-38.pyc
hepsiburada_api/migrations/__pycache__/0010_auto_20201114_1511.cpython-38.pyc
hepsiburada_api/migrations/__pycache__/0011_auto_20201117_1213.cpython-38.pyc
hepsiburada_api/migrations/__pycache__/0012_auto_20201117_1237.cpython-38.pyc
hepsiburada_api/migrations/__pycache__/0013_auto_20201117_1725.cpython-38.pyc
hepsiburada_api/migrations/__pycache__/0014_hepsimedproductmodel.cpython-38.pyc
hepsiburada_api/migrations/__pycache__/0015_hepsiordermodel_customername.cpython-38.pyc
db.sqlite3
storage/migrations/0001_initial.py
storage/migrations/0002_auto_20201112_1812.py
storage/migrations/0003_medproductmodel.py
storage/migrations/0004_remove_baseproductmodel_product.py
storage/migrations/0005_productmodel_piece.py
storage/migrations/__pycache__/__init__.cpython-38.pyc
storage/migrations/__pycache__/0001_initial.cpython-38.pyc
storage/migrations/__pycache__/0002_auto_20201112_1812.cpython-38.pyc
storage/migrations/__pycache__/0003_medproductmodel.cpython-38.pyc
storage/migrations/__pycache__/0004_remove_baseproductmodel_product.cpython-38.pyc
storage/migrations/__pycache__/0005_productmodel_piece.cpython-38.pyc
