{% extends 'layout/layout.html' %}


{% block header %}
{{object.name}}
{% endblock header %}


{% block body %}
<div class="card mb-lg-32pt">

    <div class="table-responsive" data-toggle="lists" data-lists-sort-by="js-lists-values-date"
        data-lists-sort-desc="true"
        data-lists-values='["js-lists-values-name", "js-lists-values-department", "js-lists-values-status", "js-lists-values-type", "js-lists-values-phone", "js-lists-values-date"]'>

        <table class="table mb-0 thead-border-top-0 table-nowrap">
            <thead>
                <tr>
                    <th style="width: 18px;" class="pr-0">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input js-toggle-check-all"
                                data-target="#employees" id="customCheckAllemployees">
                            <label class="custom-control-label" for="customCheckAllemployees"><span
                                    class="text-hide">Toggle all</span></label>
                        </div>
                    </th>

                    <th>
                        <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-name">Ürün Adı</a>
                    </th>

                    <th style="width: 150px;">
                        <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-department">Adet</a>
                    </th>

                    <th style="width: 48px;">
                        <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-status">Barkod</a>
                    </th>

                    <th style="width: 24px;"></th>
                </tr>
            </thead>
            <tbody class="list" id="employees">
                
                {% for obj in object_list %}
                <tr>

                    <td class="pr-0">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input js-check-selected-row"
                                id="customCheck1_{{obj.id}}">
                            <label class="custom-control-label" for="customCheck1_{{obj.id}}"><span
                                    class="text-hide">Check</span></label>
                        </div>
                    </td>

                    <td>

                        <div class="media flex-nowrap align-items-center" style="white-space: nowrap;">
                            <div class="avatar avatar-32pt mr-8pt">

                                <span class="avatar-title rounded-circle">{{obj.name.0}}</span>

                            </div>
                            <div class="media-body">

                                <div class="d-flex align-items-center">
                                    <div class="flex d-flex flex-column">
                                        <a href="detail/{{obj.id}}" class="mb-0"><strong class="js-lists-values-name">{{obj.name}}</strong></a>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </td>

                    <td>

                        <div class="media flex-nowrap align-items-center" style="white-space: nowrap;">
                            <div class="media-body">
                                <div class="d-flex flex-column">
                                    <small class="js-lists-values-department"><strong>{{obj.piece}}</strong></small>
                                </div>
                            </div>
                        </div>

                    </td>

                    <td>
                        <div class="d-flex flex-column">
                            <small class="js-lists-values-status  mb-4pt">{{obj.barcode}}</small>
                        </div>
                    </td>



                    <td class="text-right">
                        <a href="#" class="text-50"><i class="material-icons">more_vert</i></a>
                    </td>
                </tr>
                {% endfor %}
                    
                

            </tbody>
        </table>
    </div>

    

</div>
{% endblock body %}